server:
  port: 8081
target-microservice:
  uri: http://stub:8080

spring:
  application:
    name: reactive-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: target-microservice-route
              uri: ${target-microservice.uri}
              predicates:
                - Path=/my/microservice/**
              filters:
                - StripPrefix=2

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - prometheus
