target-microservice:
  uri: http://stub:8080

spring:
  application:
    name: mvc-gateway
  threads:
    virtual:
      enabled: true
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            # S1 - Базовое проксирование
            - id: s1-baseline-proxy
              uri: ${target-microservice.uri}
              predicates:
                - Path=/api/v1/**

            # S2 - Переписывание пути
            - id: s2-strip-prefix
              uri: ${target-microservice.uri}
              predicates:
                - Path=/bench/s2/**
              filters:
                - StripPrefix=2

            # S3 - Модификация запроса
            - id: s3-headers
              uri: ${target-microservice.uri}
              predicates:
                - Path=/bench/s3/**
              filters:
                - StripPrefix=2
                - RemoveRequestHeader=X-Debug
                - AddRequestHeader=X-Gateway, mvc-gateway

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - prometheus
